<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lph.aboutactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.lph.task" />
        <activity
            android:name=".ThirdActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.lph.task" />
        <activity android:name=".CalledActivity">
            <intent-filter>
                <action android:name="com.lph.intent_SEND"/>
                <action android:name="com.lph.intent_RECEIVER"/>
                <action android:name="com.lph.intent_SEND_1"/>
                <action android:name="com.lph.intent_SEND_2"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.lph.intent_Category"/>
                <data android:scheme="http" android:host="www.baidu.com" android:mimeType="jpg/*"/>
                <data android:scheme="file"  android:mimeType="audio/*"/>
            </intent-filter>
        </activity>
    </application>

</manifest>